In [3]:
import pandas as pd

data = pd.read_csv("2017_jun_final.csv")


# Прочитайте отриману таблицю, використовуючи метод head
print(data.head)

# Визначте розмір таблиці за допомогою методу shape
print(data.shape)

columns_title = ['N', 
                'Job position', 
                'Programming language', 
                'Specialization', 
                'General work experience', 
                'Work exp at current place', 
                'Salary per month', 
                'Salary change over 12 months', 
                'City', 
                'Company size', 
                'Company type', 
                'Gender', 
                'Age', 
                'Education', 
                'University', 
                'Still a student', 
                'English level', 
                'Subject area', 
                'Date of completion', 
                'user_agent', 
                'exp', 
                'current_job_exp', 
                'salary', 
                'Currency', 
                'cls']

columns_title = [title.lower().replace(' ', '_') for title in columns_title]
data.columns = columns_title
print(data.head)

<bound method NDFrame.head of          N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]>
(8704, 25)
<bound method NDFrame.head of          n              job_position programming_language specialization  \
0        1        Junior QA engineer                  NaN      Manual QA
1        2        Junior QA engineer                  NaN      Manual QA
2        3         Software Engineer              C#/.NET            NaN
3        4         Software Engineer           JavaScript            NaN
4        5  Senior Software Engineer           JavaScript            NaN
...    ...                       ...                  ...            ...
8699  8700               QA engineer                  NaN      Manual QA
8700  8701                 Marketing                  NaN            NaN
8701  8702  Junior Software Engineer           Ruby/Rails            NaN
8702  8703                 Team lead                  NaN            NaN
8703  8704  Senior Software Engineer                 Java            NaN

     general_work_experience work_exp_at_current_place  salary_per_month  \
0                        0.5                       0.5               400
1           меньше 3 месяцев          меньше 3 месяцев               430
2                          4                         1              2500
3                          5                         4              2000
4             10 и более лет                       0.5              4500
...                      ...                       ...               ...
8699                       1          меньше 3 месяцев               700
8700                     0.5                       0.5               400
8701                       1                       0.5               800
8702                       6                         4              2600
8703                       7                         2              5000

      salary_change_over_12_months     city        company_size  ...  \
0                                0  Харьков       до 10 человек  ...
1                              130  Харьков  свыше 1000 человек  ...
2                              800     Киев     до 1000 человек  ...
3                              400   Одесса      до 200 человек  ...
4                              500   Другой       до 10 человек  ...
...                            ...      ...                 ...  ...
8699                           700   Одесса       до 50 человек  ...
8700                           120     Киев       до 50 человек  ...
8701                           500    Львов       до 10 человек  ...
8702                             0    Днепр  свыше 1000 человек  ...
8703                           800   Одесса     до 1000 человек  ...

     still_a_student  english_level                          subject_area  \
0               True  ниже среднего                         iOS,eCommerce
1               True  выше среднего                        Веб-разработка
2              False        средний  Веб-разработка,Корпоративные системы
3              False  ниже среднего   Desktop Applications,Веб-разработка
4              False        средний   Desktop Applications,Веб-разработка
...              ...            ...                                   ...
8699           False        средний          Android,Desktop Applications
8700           False  ниже среднего                             eCommerce
8701           False  выше среднего  Веб-разработка,Корпоративные системы
8702           False    продвинутый                       Финансы и банки
8703           False  выше среднего                        Веб-разработка

       date_of_completion                                         user_agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary currency  cls
0      0.5             0.5    400      NaN   QA
1      0.0             0.0    430      NaN   QA
2      4.0             1.0   2500      NaN  DEV
3      5.0             4.0   2000      NaN  DEV
4     10.0             0.5   4500      NaN  DEV
...    ...             ...    ...      ...  ...
8699   1.0             0.0    700      NaN   QA
8700   0.5             0.5    400      NaN  NaN
8701   1.0             0.5    800      NaN  DEV
8702   6.0             4.0   2600      NaN   PM
8703   7.0             2.0   5000      NaN  DEV

[8704 rows x 25 columns]>

In [4]:
# Визначте типи всіх стовпців за допомогою dataframe.dtypes
print(data.dtypes)

n                                 int64
job_position                     object
programming_language             object
specialization                   object
general_work_experience          object
work_exp_at_current_place        object
salary_per_month                  int64
salary_change_over_12_months      int64
city                             object
company_size                     object
company_type                     object
gender                           object
age                               int64
education                        object
university                       object
still_a_student                    bool
english_level                    object
subject_area                     object
date_of_completion               object
user_agent                       object
exp                             float64
current_job_exp                 float64
salary                            int64
currency                         object
cls                              object
dtype: object

In [5]:
# Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
nulls_part = data.isnull().sum() / len(data) * 100
print(nulls_part)

n                                0.000000
job_position                     0.000000
programming_language            44.232537
specialization                  82.938879
general_work_experience          0.000000
work_exp_at_current_place        0.000000
salary_per_month                 0.000000
salary_change_over_12_months     0.000000
city                             0.000000
company_size                     0.000000
company_type                     0.000000
gender                           0.000000
age                              0.000000
education                        0.000000
university                       4.113051
still_a_student                  0.000000
english_level                    0.000000
subject_area                     2.562040
date_of_completion               0.000000
user_agent                       0.000000
exp                              0.000000
current_job_exp                  0.000000
salary                           0.000000
currency                        99.885110
cls                             18.083640
dtype: float64

In [6]:
# Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
columns_to_keep = ['programming_language']
data = data.dropna(subset=columns_to_keep)
print(data)

         n              job_position programming_language specialization  \
2        3         Software Engineer              C#/.NET            NaN
3        4         Software Engineer           JavaScript            NaN
4        5  Senior Software Engineer           JavaScript            NaN
6        7  Junior Software Engineer              C#/.NET            NaN
7        8  Senior Software Engineer                  C++            NaN
...    ...                       ...                  ...            ...
8692  8693         Software Engineer                 Java            NaN
8694  8695  Junior Software Engineer              C#/.NET            NaN
8695  8696         Software Engineer               Python            NaN
8701  8702  Junior Software Engineer           Ruby/Rails            NaN
8703  8704  Senior Software Engineer                 Java            NaN

     general_work_experience work_exp_at_current_place  salary_per_month  \
2                          4                         1              2500
3                          5                         4              2000
4             10 и более лет                       0.5              4500
6                          1          меньше 3 месяцев               600
7                          6                         1              3300
...                      ...                       ...               ...
8692                       5                         1              3500
8694                       1                         1               550
8695                       1                       0.5              1500
8701                       1                       0.5               800
8703                       7                         2              5000

      salary_change_over_12_months         city     company_size  ...  \
2                              800         Киев  до 1000 человек  ...
3                              400       Одесса   до 200 человек  ...
4                              500       Другой    до 10 человек  ...
6                              100  Хмельницкий    до 50 человек  ...
7                              500         Киев    до 10 человек  ...
...                            ...          ...              ...  ...
8692                           650     Удаленно   до 200 человек  ...
8694                           550      Харьков   до 200 человек  ...
8695                          1000         Киев    до 10 человек  ...
8701                           500        Львов    до 10 человек  ...
8703                           800       Одесса  до 1000 человек  ...

     still_a_student  english_level  \
2              False        средний
3              False  ниже среднего
4              False        средний
6              False  ниже среднего
7              False  выше среднего
...              ...            ...
8692           False        средний
8694           False  ниже среднего
8695           False        средний
8701           False  выше среднего
8703           False  выше среднего

                                         subject_area   date_of_completion  \
2                Веб-разработка,Корпоративные системы  12/06/2017 13:02:47
3                 Desktop Applications,Веб-разработка  12/06/2017 13:03:01
4                 Desktop Applications,Веб-разработка  12/06/2017 13:03:47
6                                      Веб-разработка  12/06/2017 13:04:26
7                                              Другое  12/06/2017 13:04:27
...                                               ...                  ...
8692                                        eCommerce  12/07/2017 13:26:49
8694  Desktop Applications,Системное программирование  12/07/2017 14:14:33
8695                        Финансы и банки,eCommerce  12/07/2017 14:39:21
8701             Веб-разработка,Корпоративные системы  12/07/2017 17:32:26
8703                                   Веб-разработка  12/07/2017 21:28:57

                                             user_agent   exp current_job_exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0             0.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0             1.0
...                                                 ...   ...             ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0             1.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0             1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary currency  cls
2      2500      NaN  DEV
3      2000      NaN  DEV
4      4500      NaN  DEV
6       600      NaN  DEV
7      3300      NaN  DEV
...     ...      ...  ...
8692   3500      NaN  DEV
8694    550      NaN  DEV
8695   1500      NaN  DEV
8701    800      NaN  DEV
8703   5000      NaN  DEV

[4854 rows x 25 columns]

In [7]:
# Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова програмування"
nulls_part = data.isnull().sum() / len(data) * 100
print(nulls_part)

n                                0.000000
job_position                     0.000000
programming_language             0.000000
specialization                  99.979398
general_work_experience          0.000000
work_exp_at_current_place        0.000000
salary_per_month                 0.000000
salary_change_over_12_months     0.000000
city                             0.000000
company_size                     0.000000
company_type                     0.000000
gender                           0.000000
age                              0.000000
education                        0.000000
university                       4.758962
still_a_student                  0.000000
english_level                    0.000000
subject_area                     0.618047
date_of_completion               0.000000
user_agent                       0.000000
exp                              0.000000
current_job_exp                  0.000000
salary                           0.000000
currency                        99.835187
cls                              0.164813
dtype: float64

In [8]:
# Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
data.dropna()
print(data)

         n              job_position programming_language specialization  \
2        3         Software Engineer              C#/.NET            NaN
3        4         Software Engineer           JavaScript            NaN
4        5  Senior Software Engineer           JavaScript            NaN
6        7  Junior Software Engineer              C#/.NET            NaN
7        8  Senior Software Engineer                  C++            NaN
...    ...                       ...                  ...            ...
8692  8693         Software Engineer                 Java            NaN
8694  8695  Junior Software Engineer              C#/.NET            NaN
8695  8696         Software Engineer               Python            NaN
8701  8702  Junior Software Engineer           Ruby/Rails            NaN
8703  8704  Senior Software Engineer                 Java            NaN

     general_work_experience work_exp_at_current_place  salary_per_month  \
2                          4                         1              2500
3                          5                         4              2000
4             10 и более лет                       0.5              4500
6                          1          меньше 3 месяцев               600
7                          6                         1              3300
...                      ...                       ...               ...
8692                       5                         1              3500
8694                       1                         1               550
8695                       1                       0.5              1500
8701                       1                       0.5               800
8703                       7                         2              5000

      salary_change_over_12_months         city     company_size  ...  \
2                              800         Киев  до 1000 человек  ...
3                              400       Одесса   до 200 человек  ...
4                              500       Другой    до 10 человек  ...
6                              100  Хмельницкий    до 50 человек  ...
7                              500         Киев    до 10 человек  ...
...                            ...          ...              ...  ...
8692                           650     Удаленно   до 200 человек  ...
8694                           550      Харьков   до 200 человек  ...
8695                          1000         Киев    до 10 человек  ...
8701                           500        Львов    до 10 человек  ...
8703                           800       Одесса  до 1000 человек  ...

     still_a_student  english_level  \
2              False        средний
3              False  ниже среднего
4              False        средний
6              False  ниже среднего
7              False  выше среднего
...              ...            ...
8692           False        средний
8694           False  ниже среднего
8695           False        средний
8701           False  выше среднего
8703           False  выше среднего

                                         subject_area   date_of_completion  \
2                Веб-разработка,Корпоративные системы  12/06/2017 13:02:47
3                 Desktop Applications,Веб-разработка  12/06/2017 13:03:01
4                 Desktop Applications,Веб-разработка  12/06/2017 13:03:47
6                                      Веб-разработка  12/06/2017 13:04:26
7                                              Другое  12/06/2017 13:04:27
...                                               ...                  ...
8692                                        eCommerce  12/07/2017 13:26:49
8694  Desktop Applications,Системное программирование  12/07/2017 14:14:33
8695                        Финансы и банки,eCommerce  12/07/2017 14:39:21
8701             Веб-разработка,Корпоративные системы  12/07/2017 17:32:26
8703                                   Веб-разработка  12/07/2017 21:28:57

                                             user_agent   exp current_job_exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0             0.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0             1.0
...                                                 ...   ...             ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0             1.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0             1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary currency  cls
2      2500      NaN  DEV
3      2000      NaN  DEV
4      4500      NaN  DEV
6       600      NaN  DEV
7      3300      NaN  DEV
...     ...      ...  ...
8692   3500      NaN  DEV
8694    550      NaN  DEV
8695   1500      NaN  DEV
8701    800      NaN  DEV
8703   5000      NaN  DEV

[4854 rows x 25 columns]

In [9]:
# Визначте новий розмір таблиці за допомогою методу shape
print(data.shape)

(4854, 25)

In [10]:
# Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = data[data['programming_language'] == 'Python']
print(python_data)

         n              job_position programming_language specialization  \
12      13         Software Engineer               Python            NaN
68      69         Software Engineer               Python            NaN
87      88  Junior Software Engineer               Python            NaN
114    115  Junior Software Engineer               Python            NaN
143    144  Junior Software Engineer               Python            NaN
...    ...                       ...                  ...            ...
8546  8547         Software Engineer               Python            NaN
8625  8626         Software Engineer               Python            NaN
8635  8636  Senior Software Engineer               Python            NaN
8673  8674  Junior Software Engineer               Python            NaN
8695  8696         Software Engineer               Python            NaN

     general_work_experience work_exp_at_current_place  salary_per_month  \
12                         1          меньше 3 месяцев               800
68                       1.5                       0.5               900
87                       0.5                       0.5               600
114                      1.5                       0.5               685
143                        1                         1               750
...                      ...                       ...               ...
8546                       5                         1              2000
8625                       4                         1              1750
8635          10 и более лет          меньше 3 месяцев              4000
8673                     0.5                       0.5               350
8695                       1                       0.5              1500

      salary_change_over_12_months       city        company_size  ...  \
12                             200       Киев       до 50 человек  ...
68                             900       Киев       до 10 человек  ...
87                               0       Киев       до 10 человек  ...
114                            250       Киев     до 1000 человек  ...
143                            250       Киев       до 10 человек  ...
...                            ...        ...                 ...  ...
8546                           800  Запорожье       до 50 человек  ...
8625                             0       Киев  свыше 1000 человек  ...
8635                          1300   Удаленно       до 10 человек  ...
8673                            50       Киев       до 50 человек  ...
8695                          1000       Киев       до 10 человек  ...

     still_a_student  english_level               subject_area  \
12             False  ниже среднего      Веб-разработка,Другое
68              True  выше среднего             Веб-разработка
87              True  выше среднего   Веб-разработка,eCommerce
114            False        средний                     Другое
143             True  выше среднего             Веб-разработка
...              ...            ...                        ...
8546           False        средний             Веб-разработка
8625           False        средний             Веб-разработка
8635           False  выше среднего             Веб-разработка
8673           False        средний             Веб-разработка
8695           False        средний  Финансы и банки,eCommerce

       date_of_completion                                         user_agent  \
12    12/06/2017 13:05:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
68    12/06/2017 13:11:17  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
87    12/06/2017 13:12:25  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
114   12/06/2017 13:14:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
143   12/06/2017 13:19:10  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
...                   ...                                                ...
8546  10/07/2017 14:11:26  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
8625  11/07/2017 16:15:40  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8635  11/07/2017 17:51:36  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8673  12/07/2017 09:37:16  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8695  12/07/2017 14:39:21  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...

       exp current_job_exp salary currency  cls
12     1.0             0.0    800      NaN  DEV
68     1.5             0.5    900      NaN  DEV
87     0.5             0.5    600      NaN  DEV
114    1.5             0.5    685      NaN  DEV
143    1.0             1.0    750      NaN  DEV
...    ...             ...    ...      ...  ...
8546   5.0             1.0   2000      NaN  DEV
8625   4.0             1.0   1750      NaN  DEV
8635  10.0             0.0   4000      NaN  DEV
8673   0.5             0.5    350      NaN  DEV
8695   1.0             0.5   1500      NaN  DEV

[207 rows x 25 columns]

In [11]:
# Визначте розмір таблиці python_data за допомогою методу shape
print(python_data.shape)

(207, 25)

In [12]:
# Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
python_data.groupby('job_position')
print(python_data)

         n              job_position programming_language specialization  \
12      13         Software Engineer               Python            NaN
68      69         Software Engineer               Python            NaN
87      88  Junior Software Engineer               Python            NaN
114    115  Junior Software Engineer               Python            NaN
143    144  Junior Software Engineer               Python            NaN
...    ...                       ...                  ...            ...
8546  8547         Software Engineer               Python            NaN
8625  8626         Software Engineer               Python            NaN
8635  8636  Senior Software Engineer               Python            NaN
8673  8674  Junior Software Engineer               Python            NaN
8695  8696         Software Engineer               Python            NaN

     general_work_experience work_exp_at_current_place  salary_per_month  \
12                         1          меньше 3 месяцев               800
68                       1.5                       0.5               900
87                       0.5                       0.5               600
114                      1.5                       0.5               685
143                        1                         1               750
...                      ...                       ...               ...
8546                       5                         1              2000
8625                       4                         1              1750
8635          10 и более лет          меньше 3 месяцев              4000
8673                     0.5                       0.5               350
8695                       1                       0.5              1500

      salary_change_over_12_months       city        company_size  ...  \
12                             200       Киев       до 50 человек  ...
68                             900       Киев       до 10 человек  ...
87                               0       Киев       до 10 человек  ...
114                            250       Киев     до 1000 человек  ...
143                            250       Киев       до 10 человек  ...
...                            ...        ...                 ...  ...
8546                           800  Запорожье       до 50 человек  ...
8625                             0       Киев  свыше 1000 человек  ...
8635                          1300   Удаленно       до 10 человек  ...
8673                            50       Киев       до 50 человек  ...
8695                          1000       Киев       до 10 человек  ...

     still_a_student  english_level               subject_area  \
12             False  ниже среднего      Веб-разработка,Другое
68              True  выше среднего             Веб-разработка
87              True  выше среднего   Веб-разработка,eCommerce
114            False        средний                     Другое
143             True  выше среднего             Веб-разработка
...              ...            ...                        ...
8546           False        средний             Веб-разработка
8625           False        средний             Веб-разработка
8635           False  выше среднего             Веб-разработка
8673           False        средний             Веб-разработка
8695           False        средний  Финансы и банки,eCommerce

       date_of_completion                                         user_agent  \
12    12/06/2017 13:05:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
68    12/06/2017 13:11:17  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
87    12/06/2017 13:12:25  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
114   12/06/2017 13:14:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
143   12/06/2017 13:19:10  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
...                   ...                                                ...
8546  10/07/2017 14:11:26  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
8625  11/07/2017 16:15:40  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8635  11/07/2017 17:51:36  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8673  12/07/2017 09:37:16  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8695  12/07/2017 14:39:21  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...

       exp current_job_exp salary currency  cls
12     1.0             0.0    800      NaN  DEV
68     1.5             0.5    900      NaN  DEV
87     0.5             0.5    600      NaN  DEV
114    1.5             0.5    685      NaN  DEV
143    1.0             1.0    750      NaN  DEV
...    ...             ...    ...      ...  ...
8546   5.0             1.0   2000      NaN  DEV
8625   4.0             1.0   1750      NaN  DEV
8635  10.0             0.0   4000      NaN  DEV
8673   0.5             0.5    350      NaN  DEV
8695   1.0             0.5   1500      NaN  DEV

[207 rows x 25 columns]

In [13]:
# Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
aggregated_salaries = python_data.groupby('job_position')['salary_per_month'].agg(['min', 'max'])
print(aggregated_salaries)

                           min   max
job_position
Junior Software Engineer   100  1250
Senior Software Engineer  1300  9200
Software Engineer          500  5400
System Architect          3000  5000
Technical Lead            1425  6200

In [14]:
# Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"
aggregated_salaries['avg'] = python_data['salary_per_month'].mean()

In [15]:
# Створіть описову статистику за допомогою методу describe для нового стовпчика.
description = aggregated_salaries['avg'].describe()
print(description)

count       5.000000
mean     1753.937198
std         0.000000
min      1753.937198
25%      1753.937198
50%      1753.937198
75%      1753.937198
max      1753.937198
Name: avg, dtype: float64

In [16]:
# Збережіть отриману таблицю в CSV файл
description.to_csv('description_aggregated_salaries.csv', index=False)